<div class="container mt-2">
  <h3 class="text-center mb-4">Manage Passengers</h3>

  <!-- Search Fields -->
  <div class="mb-3 d-flex justify-content-start">
      <input
          type="text"
          class="form-control w-25 mr-2"
          placeholder="Search by Name"
          [(ngModel)]="searchName"
          (input)="applySearch()"
      />
      <input
          type="text"
          class="form-control w-25 mr-2"
          placeholder="Search by Email"
          [(ngModel)]="searchEmail"
          (input)="applySearch()"
      />
      <button class="btn btn-secondary" (click)="resetSearch()">Reset</button>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
  </div>

  <!-- Passenger Cards -->
  <div *ngIf="filteredPassengers.length > 0" class="passenger-list">
      <div *ngFor="let passenger of filteredPassengers">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">{{ passenger.name }}</h5>
              </div>
              <div class="card-body">
                  <p class="card-text"><strong>Email:</strong> {{ passenger.email }}</p>
                  <p class="card-text"><strong>Phone:</strong> {{ passenger.phone }}</p>
                  <p class="card-text"><strong>Address:</strong> {{ passenger.address }}</p>
                  <p class="card-text"><strong>Account Status:</strong> {{ passenger.isActive }}</p>
                  <div class="action-buttons">
                      <button
                          class="btn btn-primary"
                          (click)="onUpdate(passenger.userId)">
                          Update
                      </button>
                      <button
                          class="btn btn-danger"
                          (click)="onDelete(passenger.userId)">
                          Delete
                      </button>
                      <button
                          class="btn btn-secondary"
                          (click)="onReactivate(passenger.userId)">
                          Reactivate
                      </button>
                  </div>
                  <button class="booking-button" (click)="viewBookings(passenger.userId)"> View Bookings </button>
              </div>
          </div>
      </div>
  </div>
</div>
