.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #ff616f;
  color: #fff;
  font-weight: bold;
}

/* Flex container for search fields */
.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.search-container .form-control {
  flex: 1;
}

.search-container .btn-secondary {
  flex: 0;
  padding: 8px 20px;
}

.btn-danger {
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  color: #fff;
}

.btn-primary {
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  color: #fff;
}

.btn-secondary {
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  color: #fff;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.error {
  color: red;
  font-weight: bold;
}

.success-message,
.error-message {
  text-align: center;
  font-weight: bold;
  background-color: #f9f9f9;
}

.success-message {
  color: green;
}

.booking-button {
  background-color: #ff616f;
  border: none;
  font-weight: bold;
  padding: 6px 10px;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.booking-button:hover{
  background-color: #e64c5d;
}

.passenger-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust as needed */
  gap: 20px;
}

.card {
  max-width: 570px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 5px;
}

.card-text {
  margin: 0.5em 0;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-buttons button {
  flex: 1;
  margin-right: 5px;
}

