

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand text-danger" href="#">NextStop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/app-home">Home</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/app-login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/app-registration">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!--search form-->

<div class="hero-section text-white text-center py-5" style="background: linear-gradient(to right, #ff616f, #ff9a9e);">
    <div class="container">
        <h1 class="display-4">India's No. 1 Online Bus Ticket Booking Site</h1>
        <div class="mt-4">
            <form class="row g-3 justify-content-center">
                
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="From" required />
                </div>

                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="To" required />
                </div>

                <div class="col-md-3">
                    <input type="date" class="form-control" required />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-danger btn-block w-100">Search Buses</button>
                </div>
            </form>
        </div>
    </div>
</div>

