/* header.component.css */
.navbar .nav-item .fa-bell {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar .nav-item .fa-bell:hover {
    color: #007bff;
    /* Change color on hover */
}
/* header.component.css */
.nav-item .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item .dropdown-menu a {
    color: #333;
}

.nav-item .dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.spacer {
    margin-right: 10px; 
}