<!--search form-->

<div class="searchFormBg hero-section text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">India's No. 1 Online Bus Ticket Booking Site</h1>
        <div class="mt-4">
            <form class="row g-3 justify-content-center">
                
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="From" required />
                </div>

                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="To" required />
                </div>

                <div class="col-md-3">
                    <input type="date" class="form-control" required />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-danger btn-block w-100">Search Buses</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="home-background">
    <div class="container">
        <h1>Welcome to NextStop</h1>
        <p>Experience the best way to book your bus tickets!</p>
    </div>
</div>