
<div class="table-container">
<h2>All Buses</h2>  
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Bus ID</th>
        <th scope="col">Bus Name</th>
        <th scope="col">Bus Number</th>
        <th scope="col">Bus Type</th>
        <th scope="col">Operator Id</th>
        <th scope="col">Operator</th>
        <th scope="col">Total Seats</th>
        <th scope="col">Amenities</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data(); let i = index">
        <td>{{ item.busId }}</td>
        <td>{{ item.busName }}</td>
        <td>{{ item.busNumber }}</td>
        <td>{{ item.busType }}</td>
        <td>{{ item.operatorId }}</td>
        <td>{{ item.operatorName }}</td>
        <td>{{ item.totalSeats }}</td>
        <td>{{ item.amenities }}</td>
      </tr>
    </tbody>
  </table>
</div>
