.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.card-booking {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-booking:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 5px;
  }

.card-text {
    font-size: 1rem;
    color: #555;
}

.card .btn-danger {
    background-color: #ff616f;
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    color: #fff;
}

.card .btn-danger:hover {
    background-color: #e64c5d;
}

.text-danger {
    font-size: 0.9rem;
    color: #e64c5d;
}

.loading,
.error {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.error {
    color: red;
    font-weight: bold;
}

.success-message,
.error-message {
    text-align: center;
    font-weight: bold;
    background-color: #f9f9f9;
}

.success-message {
    color: green;
}
