<div class="container mt-2">
  <h2 class="text-center mb-4">Buses</h2>

  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="mb-3">
    <div class="row g-2">
      <div class="col-md-2">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search by Bus Number" 
          [(ngModel)]="searchBusNumber" 
          (input)="searchByBusNumber()" 
        />
      </div>

      <div class="col-md-2" *ngIf="isAdmin">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search by OperatorId" 
          [(ngModel)]="searchOperatorId" 
          (input)="searchByOperationId()" 
        />
      </div>

      <div class="col">
        <button class="btn btn-secondary" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </div>

  <div *ngIf="buses.length > 0" class="bus-list">
    <div class="row">
      <div *ngFor="let bus of filteredBuses" class="col-md-4 col-sm-6 mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ bus.busName }} ({{ bus.busNumber }})</h5> 
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Bus Type:</strong> {{ bus.busType }}</p>
            <p class="card-text"><strong>Total Seats:</strong> {{ bus.totalSeats }}</p>
            <p class="card-text"><strong>Amenities:</strong> {{ bus.amenities }}</p>
            <p class="card-text" *ngIf="isAdmin"><strong>Operator Id:</strong> {{ bus.operatorId }}</p>
            <p class="card-text"><strong>Operator Name:</strong> {{ bus.operatorName }}</p>
            <div class="action-buttons">
              <button 
                class="btn btn-primary" 
                (click)="onUpdate(bus.busId)" 
              >
                Update
              </button>
              <button 
                class="btn btn-danger" 
                (click)="onDelete(bus.busId)" 
              >
                Delete
              </button>
            </div>
            <button class="btn-feedback" (click)="viewFeedBacks(bus.busId)"> View Feedback </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>